@model IEnumerable<Domain.BlogComment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlogCommentContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogCommentPostedTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogCommentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogCommentPostedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPost.BlogPostId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogCommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogCommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogCommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
