@model IEnumerable<Domain.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPostTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPostContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BlogPostPostedTime)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostPostedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blog.BlogTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
